/* button{
  border: none;
  background: white;
  cursor: pointer;
} */
.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 92vw;
  height: 10vh;
  color: black;
  background-color: #ffffff;
  border-bottom: 2px solid #c7c7c7;
  padding: 0 4vw;
}

.HeaderItem {
  padding: 0 2vw;
  cursor: pointer;
}
.HeaderItemLeft {
  margin-right: auto;
  cursor: pointer;
}
.HeaderItem:hover{
  color: #97a7bd;
}

.Panel {
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
}
.PanelCol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.Title {
  width: 65vw;
  font-size: 2.8em;
  font-family: 'Roboto', serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5vh;
  margin-right:15vw;
}

.GetStarted{
  font-family: 'Roboto', sans-serif;
  width: 18vw;
  padding: 2vh;
  border-radius: 5px;
  background: #62929E;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-top: 4vh;
  }
.GetStarted:hover{
  background: #546A7B;
}

.LoginButton{
  font-family: 'Roboto', sans-serif;
  width: 12vw;
  margin: 0 0.5vw;
  padding: 2vh 0;
  border-radius: 5px;
  background: #62929E;
  color: white;
  font-size: 1em;
  font-weight: 600;
}
.LoginButton:hover{
  background: #546A7B;
}

.HeaderLogo {
  width: 10vh;
  height: 10vh;
}

.UpperForm{
  margin-top: 5vh;
  width: 50vw;
  height: 40vh;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.LowerForm{
  margin-top: 1vh;
  width: 50vw;
  height: 15vh;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.FormContainer{
  height: 35vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: space-evenly;
}
.LowerFormContainer{
  height: 11vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: space-evenly;
}
.Input {
  font-family: 'Roboto', sans-serif;
  padding: 0.5vh 0.5vw;
  font-size: 1em;  
  border: none;
  border-bottom: 3px solid #62929E;
  margin: 0 0 1.5vh 0;
  width: 24vw;
}
.Input:focus{
  border-bottom: 3px solid #546A7B;
  outline: none;
}

.LoginSubtext{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding: 0;
  margin: 1vh 0 0 0;
}

.FlexLeft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.LoginScreen {
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}