.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  max-width: 100vw;
  overflow: hidden;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 92vw;
  height: 10vh;
  color: black;
  background-color: #ffffff;
  border-bottom: 2px solid #c7c7c7;
  padding: 0 4vw;
}

.HeaderItem {
  padding: 0 2vw;
  cursor: pointer;
}
.HeaderItemLeft {
  margin-right: auto;
  cursor: pointer;
}
.HeaderItem:hover{
  color: #97a7bd;
}

.Panel {
  color: black;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PanelCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Title {
  width: 80vw;
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5vh;
}

.GetStarted{
  font-family: 'Roboto', sans-serif;
  width: 18vw;
  padding: 2vh;
  border-radius: 5px;
  background: #62929E;
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin-top: 4vh;
  }
.GetStarted:hover{
  background: #546A7B;
}

.LoginButton{
  font-family: 'Roboto', sans-serif;
  width: 12vw;
  margin: 0 0.5vw;
  padding: 2vh 0;
  border-radius: 5px;
  background: #62929E;
  color: white;
  font-size: 1em;
  font-weight: 600;
}
.LoginButton:hover{
  background: #546A7B;
}

.HeaderLogo {
  width: 10vh;
  height: 10vh;
}

.UpperForm{
  margin-top: 5vh;
  width: 50vw;
  height: 40vh;
  background-color: white;
  color: black;
  border-radius: 10px;
}
.LowerForm{
  margin-top: 1vh;
  width: 50vw;
  height: 15vh;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.FormContainer{
  height: 35vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: space-evenly;
}
.LowerFormContainer{
  height: 11vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items:  center;
  justify-content: space-evenly;
}
.Input {
  font-family: 'Roboto', sans-serif;
  padding: 0.5vh 0.5vw;
  font-size: 1em;  
  border: none;
  border-bottom: 3px solid #62929E;
  margin: 0 0 1.5vh 0;
  width: 24vw;
}
.Input:focus{
  border-bottom: 3px solid #546A7B;
  outline: none;
}
.LoginText{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 0 0;
}
.LoginSubtext{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  padding: 0;
  max-width: 40vw;
  text-align: left;
}

.FlexLeft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 35vw;
  margin: 0 5vw 0 10vw;
}
.LoginScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.HalfWidth{
  display: flex;
  width: 50vw;
  height: 100vh;
}

.BlueBG{
  background: #ffeb3b
}

.WhiteBG{
  background: #ffeb3b
}

.animate{
  background-color: #01579b;
  animation: bg-fade 12s infinite;
}

@keyframes bg-fade {
  from{background: #01579b}
  25%{background: #002f6c}
  50%{background: #01579b}
  75%{background: #4f83cc}
  to{background: #01579b}
}

/* now for stuff after login */

.feed {
  background-color: white;
  height: 100vh;
  width: 100vw; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.namescreen{
  background-color: #01579b;
  height: 100vh;
  width: 100vw; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}